<p>Big Flappa and the Vaporization Station is a game where you play as a water-based penguin who needs to escape the vaporization station. You’ll need to utilize the three forms of water to traverse the station and make it to the exit.</p>

<p>“You’re a penguin made of water and you can transition into the three different forms of water! If you’re in water (default) form, step on a burner to turn into gas form so you can fly. Watch out for fans though, they’ll blow you away and disperse you! If you’re in water form and go into a freezer box, you’ll become ice form. This form can break walls but cannot jump, so keep that in mind! Going onto a burner as ice form will turn you into water form, and going into a freezer box as gas form will turn you into water form as well. Watch out for spikes too, they’ll kill you no matter what form you’re in!”</p>

<p>Controls: Arrow Keys to move; Spacebar to jump</p>

<p>---------------------------------------------------------------------------------------------</p>



<p>Game Credits:</p>

<p>Bryan Ambriz: Programmer</p>

<p>Everette Webber: Programmer</p>

<p>Yasmine Lee: Artist</p>

<p>>Kendrick Haskins: Composer and Sound Designer</p>