---
layout: grid
title: blogs
---

<div class="Section Header" id="blogs-Header"><h2>blogs</h2></div>
<section class="grid-section">

  <div class="grid">
    {% for blog in site.blogs %}
      <a href="{{ blog.url | relative_url }}" class="grid-card">
        <div class="blog-content">
          {% if blog.image %}
            <img src="{{ blog.image | relative_url }}" alt="{{ blog.title }} thumbnail">
          {% endif %}
          <h2>{{ blog.title }}</h2>
          <p>{{ blog.date }}</p>
          <p>{{ blog.description }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
</section>