---
layout: home
title: home
---

<div id="Welcome">
    <div id="Welcome-Logo">
        <img src="/assets/images/Digx7-Logo-Black_v2.svg" alt="Logo" class="large-icon">
    </div>
    <div id="Welcome-Header"><h1>Welcome!<br>I'm Digx7 a.k.a. Everette,<br>a Game Programmer!</h1></div>
    <div id="Welcome-Message"><p>With a passion for creating and solving the technical side of video games I'd love to work with you on your project!<br>Check back here often to see what I'm currently working.<br>Don't Stop Creating!</p></div>
    <div class="Button" id="Welcome-ResumeButton">
        <a href="https://digx7.github.io/resume/">
            <p class="DarkText">Resume</p>
        </a>
    </div>
    <div id="Welcome-Socials">

        <div id="Welcome-Socials-Github">
            <a href="https://github.com/Digx7" target="_blank">
                <img src="/assets/images/github-mark.svg" alt="GitHub" class="social-icon">
            </a>
        </div>

        <div id="Welcome-Socials-Itchio">
            <a href="https://digx7.itch.io" target="_blank">
                <img src="/assets/images/itchio-logo-textless-black.svg" alt="Itchio" class="social-icon">
            </a>
        </div>

        <div id="Welcome-Socials-LinkedIn">
            <a href="https://www.linkedin.com/in/everette-webber-172498165/" target="_blank">
                <img src="/assets/images/linkedin-icon.svg" alt="LinkedIn" class="social-icon">
            </a>
        </div>

        <div id="Welcome-Socials-Instagram">
            <a href="https://www.instagram.com/digx7_v2/" target="_blank">
                <img src="/assets/images/instagram.svg" alt="Instagram" class="social-icon">
            </a>
        </div>

    </div>
</div>

<div id="Projects">
    <div class="Section Header" id="Projects-Header"><h2>Projects</h2></div>

    <div class="carousel-container">
        <button class="carousel-arrow left">&#10094;</button>

        <div class="carousel-track">
            {% assign sorted_projects = site.projects | sort: 'date' | reverse %}
            {% assign stared_projects = sorted_projects | where_exp: "item", "item.star == true" %}

            {% for project in stared_projects %}
                <a href="{{ project.url | relative_url }}" class="carousel-item">
                    <div>
                        {% if project.image %}
                            <img src="{{ project.image | relative_url }}" alt="{{ project.title }} thumbnail">
                        {% else %}
                            <img src="/assets/images/Digx7-Logo-White_v2.svg" alt="{{ project.title }} thumbnail">
                        {% endif %}

                        {% if project.title %}
                            <h2>{{ project.title }}</h2>
                        {% else %}
                            <h2>Untitled Project</h2>
                        {% endif %}

                        {% if project.description %}
                            <p>{{ project.description }}</p>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}

            <a href="https://digx7.github.io/projects/" class="carousel-item">
                <div>
                    <img src="/assets/images/Digx7-Logo-White_v2.svg" alt="{{ project.title }} thumbnail">
                    <h2>View More</h2>
                    <p>See all projects</p>
                </div>
            </a>
            
        </div>
        

        <button class="carousel-arrow right">&#10095;</button>
    </div>
</div>

<div id="Blogs">
    <div class="Section Header" id="Blogs-Header"><h2>Blogs</h2></div>

    <div class="carousel-container">
        <button class="carousel-arrow left">&#10094;</button>

        <div class="carousel-track">
            {% assign sorted_posts = site.posts | sort: 'date' | reverse %}
            {% assign published_posts = sorted_posts | where_exp: "item", "item.draft != true" %}
            {% assign top_5_posts = published_posts | slice: 0, 5 %}
            
            {% for post in top_5_posts %}
            <a href="{{ post.url | relative_url }}" class="carousel-item">
                <div>
                    {% if post.image %}
                        <img src="{{ post.image | relative_url }}" alt="{{ post.title }} thumbnail">
                    {% else %}
                        <img src="/assets/images/Digx7-Logo-White_v2.svg" alt="{{ post.title }} thumbnail">
                    {% endif %}

                    {% if post.title %}
                        <h2>{{ post.title }}</h2>
                    {% else %}
                        <h2>Untitled BLog</h2>
                    {% endif %}

                    {% if post.date %}
                        <i>{{ post.date | date: "%Y-%m-%d" }}</i>
                    {% else %}
                        <i>unknown date</i>
                    {% endif %}

                    {% if post.description %}
                        <p>{{ post.description }}</p>
                    {% endif %}
                </div>
            </a>
            {% endfor %}

            <a href="https://digx7.github.io/blogs/" class="carousel-item">
                <div>
                    <img src="/assets/images/Digx7-Logo-White_v2.svg" alt="{{ project.title }} thumbnail">
                    <h2>View More</h2>
                    <p>See all blogs</p>
                </div>
            </a>

        </div>

        <button class="carousel-arrow right">&#10095;</button>
    </div>
</div>

<div id="About">
    <div class="Section Header" id="About-Header"><h2>About</h2></div>
    <div id="About-Content">
        <p>Hello!  I'm Everette a.k.a. Digx7, and I have been teaching myself Game Programming for as long as I can remember.</p>
    </div>
</div>

<div id="Contact">
    <div class="Section Header" id="Contact-Header"><h2>Contact</h2></div>
    <div id="Contact-Content">
        <a href="https://github.com/Digx7" target="_blank">
            <img src="/assets/images/github-mark.svg" alt="GitHub" class="social-icon">
        </a>
        <a href="https://digx7.itch.io" target="_blank">
            <img src="/assets/images/itchio-logo-textless-black.svg" alt="Itchio" class="social-icon">
        </a>
        <a href="https://www.linkedin.com/in/everette-webber-172498165/" target="_blank">
            <img src="/assets/images/linkedin-icon.svg" alt="LinkedIn" class="social-icon">
        </a>
        <a href="https://www.instagram.com/digx7_v2/" target="_blank">
            <img src="/assets/images/instagram.svg" alt="Instagram" class="social-icon">
        </a>
    </div>
</div>