---
layout: grid
title: projects
---

<div class="Section Header" id="Projects-Header"><h2>Projects</h2></div>
<section class="grid-section">

  <div class="grid">
    {% assign sorted_projects = site.projects | sort: 'date' | reverse %}
    {% for project in sorted_projects %}
      <a href="{{ project.url | relative_url }}" class="grid-card">
        <div class="project-content">
          {% if project.image %}
            <img src="{{ project.image | relative_url }}" alt="{{ project.title }} thumbnail">
          {% endif %}
          <h2>{{ project.title }}</h2>
          <i>{{ project.date | date: "%Y-%m-%d" }}</i>
          <p>{{ project.description }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
</section>