---
layout: grid
title: projects
---

<div class="Section Header" id="Projects-Header"><h2>Projects</h2></div>
<section class="grid-section">

  <div class="grid">
    {% for project in site.projects %}
      <a href="{{ project.url | relative_url }}" class="grid-card">
        <div class="project-content">
          {% if project.image %}
            <img src="{{ project.image | relative_url }}" alt="{{ project.title }} thumbnail">
          {% endif %}
          <h2>{{ project.title }}</h2>
          <p>{{ project.date }}</p>
          <p>{{ project.description }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
</section>