---
title: "Big Flappa and the Vaporization Station"
description: "A game I made for the Hot Jam game jam"
date: 2021-05-01
layout: project
image: "/assets/images/Thumbnail-Big_Flappa_and_the_Vaporization_Station.png"
frame: "<iframe frameborder="0" src="https://itch.io/embed/973134?linkback=true&amp;dark=true" width="552" height="167"><a href="https://digx7.itch.io/hot-jam">Big Flappa and the Vaporization Station by Digx7</a></iframe>"
github: "https://github.com/Digx7/HotJam_BoilingPoint_VGDC"
---

<div id="article-cap">
    <h1 class="Section Header">Big Flappa and the Vaporization Station</h1>
    {% if page.date %}
        <div><i>{{ page.date | date: "%Y-%m-%d"}}</i></div>
    {% endif %}

    {% if page.frame %}
        <div>{{ page.frame }}</div>
    {% endif %}

    {% if page.github %}
        <div><a src="{{ page.github | absolute_url }}">Github</a></div>
    {% endif %}
</div>

<div id="article-content">
    {% include articles/projects/Big_Flappa_and_the_Vaporization_Station.html %}
</div>

<div id="article-cap">
    {% if page.frame %}
        <div>{{ page.frame }}</div>
    {% endif %}
    
    {% if page.github %}
        <div><a src="{{ page.github | absolute_url }}">Github</a></div>
    {% endif %}
</div>


