<div id="NavBar">
    <div class="NavButton" id="NavButton-Logo">
        <a href="index.html">
            <img src="Assets/Logos/Digx7-Logo-Black_v2.svg" alt="Logo" class="social-icon">
        </a>
    </div>
    <div class="NavButton" id="NavButton-Resume"><a href="/HTML/Pages/resume.html">Resume</a></div>
    <div class="NavButton" id="NavButton-Projects"><a href="/HTML/Pages/projects.html">Projects</a></div>
    <div class="NavButton" id="NavButton-Blogs"><a href="/HTML/Pages/blogs.html">Blogs</a></div>
</div>