.article-header {
  background: linear-gradient(145deg, #0f0f0f, #1f1f1f);
}

.article-footer {
  background-color: #1a1a1a;;
}

.article-links {
  background-color: #121212;;
}

.article-header,.article-links {
  padding: 2rem;
  text-align: center;
  align-items: center;
}

.article-links a {
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  font-weight: bold;
}

.article-links a:hover {
  text-decoration: underline;
}

iframe {
  margin-top: 1rem;
  max-width: 100%;
}

.article-content {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.article-content h2,
.article-content h3 {
  margin-top: 2rem;
}

.article-content p {
  font-size: 1.1rem;
}

.article-content code {
  background: #222;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

.article-content pre {
  background: #1b1b1b;
  padding: 1rem;
  border-radius: 6px;
  overflow-x: auto;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

img {
  /* display: block; */
  margin: 0 auto;
  width: 100%;       /* scales image to container width */
  height: auto;      /* keeps aspect ratio */
  max-width: 600px;  /* optional max limit */
}