#article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
}

#article-header {
    text-align: center;
}

#article-content {

}

#article-footer {
    text-align: center;
}