

#article-cap {
    padding: 4rem 2rem;
    background: linear-gradient(145deg, #0f0f0f, #1f1f1f);
}

#article-cap i {
    align-items: center;
    margin: 4rem 0 2rem;
    max-width: 900px;
}

#article-cap iframe {
    align-items: center;
    margin: 4rem 0 2rem;
}

#article-cap a {
    align-items: center;
    margin: 4rem 0 2rem;
}

#article-content {
    padding: 3rem 2rem;
    margin: 0 0 0;
    max-width: 700px;
    background-color: #121212;
}