<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/base.css">
  <link rel="stylesheet" href="/assets/css/project.css">
  <link rel="stylesheet" href="/assets/css/navbar.css">
  <link rel="stylesheet" href="/assets/css/footer.css">
</head>
<body>
  {% include components/navbar.html %}
  
  <main>
    <div id="article-cap">
      <h1 class="Section Header">Big Flappa and the Vaporization Station</h1>
      {% if page.date %}
          <div><i>{{ page.date | date: "%Y-%m-%d"}}</i></div>
      {% endif %}

      {% if page.frame %}
          <div>{{ page.frame }}</div>
      {% endif %}

      {% if page.github %}
          <div><a src="{{ page.github | absolute_url }}">Github</a></div>
      {% endif %}
    </div>

    <div id="article-content">
        {{ content }}
    </div>

    <div id="article-cap">
        {% if page.frame %}
            <div>{{ page.frame }}</div>
        {% endif %}
        
        {% if page.github %}
            <div><a src="{{ page.github | absolute_url }}">Github</a></div>
        {% endif %}
    </div>
  </main>

  {% include components/footer.html %}


</body>
</html>