<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/base.css">
  <link rel="stylesheet" href="/assets/css/article.css">
  <link rel="stylesheet" href="/assets/css/grid.css">
  <link rel="stylesheet" href="/assets/css/navbar.css">
  <link rel="stylesheet" href="/assets/css/footer.css">

  <!-- Need for RSS feeds -->
  {% feed_meta %}
</head>
<body>
  {% include components/navbar.html %}
  
  <main>
    <div class="article-header">

      {% if page.title %}
        <h1 class="Section Header">{{page.title}}</h1>
      {% else %}
        <h1 class="Section Header">Missing Title</h1>
      {% endif %}

      
      {% if page.date %}
          <div><i>{{ page.date | date: "%Y-%m-%d"}}</i></div>
      {% else %}
          <div><i>No Date Given</i></div>
      {% endif %}
    </div>

    <div class="article-links">
      {% if page.frame %}
          <div>{{ page.frame }}</div>
      {% endif %}

      {% if page.github %}
          <div><p><a src="{{ page.github }}">Github</a></p></div>
      {% endif %}
    </div>

    <div class="article-content">
        {{ content }}
    </div>

    <div class="article-links">
      {% if page.related_posts %}
        <h3 class="Section Header">Related Blogs</h3>
        <div class="grid">
          {% for slug in page.related_posts %}
            {% assign related = site.posts | where: "slug", slug | first %}

            <a href="{{ related.url | relative_url }}" class="grid-card">
              {% if related.image %}
                <img src="{{ related.image | relative_url }}" alt="{{ related.title }} thumbnail">
              {% else %}
                <img src="/assets/images/Digx7-Logo-White_v2.svg" alt="{{ related.title }} thumbnail">
              {% endif %}

              {% if related.title %}
                <h2>{{ related.title }}</h2>
              {% else %}
                <h2>Untitled Project</h2>
              {% endif %}

              {% if related.date %}
                <i>{{ related.date | date: "%Y-%m-%d" }}</i>
              {% else %}
                <i>unknown date</i>
              {% endif %}

              {% if related.description %}
                <p>{{ related.description }}</p>
              {% endif %}
            </a>

          {% endfor %}
        </div>
      {% endif %}
      
      {% if page.frame %}
          <div>{{ page.frame }}</div>
      {% endif %}

      {% if page.github %}
          <div><a src="{{ page.github }}">Github</a></div>
      {% endif %}
    </div>

    <div class="article-footer">

    </div>

  </main>

  {% include components/footer.html %}

  <button id="scrollToTop" title="Back to Top">↑</button>
  
  <script src="/assets/js/scrollToTop.js"></script>
  <script src="/assets/js/hideNavBar.js"></script>


</body>
</html>