<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/base.css">
  <link rel="stylesheet" href="/assets/css/homepage.css">
  <link rel="stylesheet" href="/assets/css/navbar.css">
  <link rel="stylesheet" href="/assets/css/footer.css">
</head>
<body>
  {% include components/navbar.html %}
  
  <main>
    {{ content }}
  </main>

  {% include components/footer.html %}

  <script src="/assets/js/hideNavBar.js"></script>


</body>
</html>